
body{
    font-family: "Tiny5", sans-serif;
    font-size: 45px;
    background: rgb(20, 39, 113);
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1600px;
    margin: 90px;
}
button{
    font-size: 45px;
    font-family:"Tiny5", sans-serif;
    background: rgb(8, 7, 60);
    color: azure;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 90%;
}
img{
    max-width: 50%;
}

